.hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,.9) 0%, rgba(72,56,149,0.8) 100%), url("header-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.7rem;
    background: url("wave-small.png") center no-repeat;
    background-size: cover;
    bottom: -3px;

}


.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h3 {
    font-size: 1.6rem !important; 
}

.main-message h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem !important;
    margin-top: 1rem 0;
}

.main-message p {
    text-transform: lowercase;
}

.btn {
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: #ce587b;
}

@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
    }
}

@media screen and (min-width: 470px) {
    .hero::before{
        height: 9.4rem;
        background: url("wave-medium.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px) {
    .header {
        right: 8rem;   
    }

    .nav-brand {
        width: 3.5rem;
    }

    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item{
        margin: 0 2.5rem;
    }

    .nav-link, .current {
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before, .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;

    }

    .current::before {
       transform: scaleX(1);
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }

    .hero{
        height: 60vh;
    }

    .main-message {
        transform: translateY(50%);
    }

    .title-heading h1 {
        font-size: 2.5rem;
    }
} 

@media screen and (min-width: 950px) {
    .hero::before{
        height: 22.7rem;
        background: url("wave-large.png");
        background-size: cover;
    }    
}


@media screen and (min-width: 1200px) {
    .hero{
        height: 75vh;

    }
}