.testimonials {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,.9) 0%, rgba(72,56,149,0.8) 100%), url("testimonials-bg.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    top:-3px;
    left: 0;
    width: 100%;
    height:4.7rem;
    background: url("wave-small-reversed.png") center no-repeat;
    background-size: cover;


}

.testimonial {
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-test-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial-text-box i{
    position: absolute;
    top: -8rem;
    left:50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #eb648c;
    opacity: .5;
    z-index: -1;
}

.testimonial-customer img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}

@media screen and (min-width: 470px) {
    .testimonials::before{
        height: 9.4rem;
        background: url("wave-medium-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 950px) {
    .testimonials::before{
        height: 22.7rem;
        background: url("wave-large-reversed.png");
        background-size: cover;
    }
}

